<!-- 父模板base.html链接到index.html -->
{% extends "learning_notes/base.html" %}
{%  load svg %}
<!-- django static template tag -->
{% load static %}

{% block header %}
  <!-- jumbotron元素生成一个大框 -->
  <div class='jumbotron' style="background:#FF5151;color:#FFFFFF">
    <!-- <h2>开启云笔记时代!</h2> -->
    <h1>老婆，我爱你！</h1>
  </div>
  <div class='jumbotron' style="background:#FFE4EF;color:#FFFFFF">
    <img src="{% static "learning_notes/flower520.jpg" %}" width="300" height="96.3" alt="My image"/>
  </div>
  <div class='jumbotron' style="background:#FF5151;color:#FFFFFF"><!-- 粉色FFE3FF -->
    <!--<h2>Track your learning.</h2>-->
    <h2>感谢老天让我遇见你！希望你今后一直都平平安安，开开心心的，爱你！Stay with you.</h2>
  </div>
{% endblock header %}

<!-- 子模板只需包含当前网页特有的内容 -->
{% block content %}
  <!--<h3>
    <a href="{% url 'users:register' %}">Register an account</a> to make your
    own learning notes, and list the topics you're learning about.
  </h3>
  <h3>
    Whenever you learn somthing new about a topic, make an entry summarizing
    what you've learned.
  </h3>-->
  <h3>
    How hard you are now, there is no fear of the future.
  </h3>
  <div class='jumbotron' style="background:#FFE3EF;color:#000000"><!-- 粉色 -->
    <!-- static resource-->
    <img src="{% static "learning_notes/937.jpg" %}" width="300" height="533" alt="My image"/>
    <p><font size="5" face="Microsoft YaHei">^_^.....^_^</font></p>
    <img src="{% static "learning_notes/93701.jpg" %}" width="300" height="533" alt="My image"/>
    <p>^_^..^_^</p>
    <img src="{% static "learning_notes/93702.jpg" %}" width="300" height="533" alt="My image"/>
    <p>My girl is beautiful! </p>
  </div>
{% endblock content %}

{% block ender %}
  <div class='jumbotron' style="background:#FF5151;color:#FFFFFF">
    <h4>看上面,你好......美~</h4>
    <h3>我爱你,老婆！</h3>
    <h1>让我养你吧！</h1>
    <h3>......</h3>
    <!--<img src="{% static "learning_notes/flower02.jpg" %}" width="300" height="530" alt="My image"/>-->
    <h3>......</h3>
    <h4>开心吧，快夸我~</h4>
  </div>
  <h5>- By merlin. 2017-05-20. Love You. </h5>
{% endblock ender %}
 
