<!-- 父模板base.html链接到index.html -->
{% extends "learning_notes/base.html" %}
{%  load svg %}
<!-- django static template tag -->
{% load static %}

{% block header %}
  <!-- jumbotron元素生成一个大框 -->
  <div class='jumbotron' style="background:#FF5151;color:#FFFFFF">
    <h2>开启云笔记时代!</h2>
  </div>
  <!--
  <div class='jumbotron' style="background:#FFE4EF;color:#FFFFFF">
    <img src="{% static "learning_notes/note.jpg" %}" width="300" height="96.3" alt="My image"/>
  </div> -->

  <div class='jumbotron' style="background:#FF5151;color:#FFFFFF"><!-- 粉色FFE3FF -->
    <h2>Track your learning.</h2>
  </div>
{% endblock header %}

<!-- 子模板只需包含当前网页特有的内容 -->
{% block content %}
  <h3>
    <a href="{% url 'users:register' %}">Register an account</a> to make your
    own learning notes, and list the topics you're learning about.
  </h3>
  <h3>
    Whenever you learn somthing new about a topic, make an entry summarizing
    what you've learned.
  </h3>
  <div class='jumbotron' style="background:#FFE3EF;color:#000000"><!-- 粉色 -->
    <!-- static resource -->
    <img src="{% static "learning_notes/note.jpg" %}" width="300" height="533" alt="My image"/>
    <p><font size="5" face="Microsoft YaHei">^_^.....^_^</font></p>
    <img src="{% static "learning_notes/note.jpg" %}" width="300" height="533" alt="My image"/>
    <h2>
      Keep doing, You will success.
    </h2>
  </div>
{% endblock content %}

{% block ender %}
  <h3>Pythoner: merlinhuang</h3>
{% endblock ender %}
 
