{% extends "learning_notes/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h3>新建一个你自己的主题:</h3>
{% endblock header %}

{% block content %}
  
  <!-- 实参action指定了将提交的表单数据发送到视图函数new_topic\
    实参method指定浏览器提交数据的请求方法使用POST-->
  <form action="{% url 'learning_notes:new_topic' %}" method='post' class="form">
    <!-- 防止攻击者利用表单获得对服务器未经授权的访问，即跨站请求伪造-->
    {% csrf_token %}
    <!-- 使用bootstrap3样式设置表单元素 -->
    {% bootstrap_form form %}

    <!-- 使用bootstrap3结构定义提交按钮 -->
    {% buttons %}
      <button name="submit" class="btn btn-primary">添加新主题</button>
    {% endbuttons %}
  </form>

{% endblock content %}
