<!-- 继承父模板base.html-->
{% extends "learning_notes/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>你的主题列表,点击查看详细条目</h2>
{% endblock header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <!-- 将主题页面中的每个主题设置为超链接，连接到相应的主题页面 -->
      <li>
        <!-- 针对单个主题依次进行超链接 -->
        <!-- 首次调用topic.id的入口-->
        <h3>
          <a href="{% url 'learning_notes:topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>
  
  <h4><a href="{% url 'learning_notes:new_topic' %}">点击这里添加新的主题:</a></h4>
{% endblock content %}
