<!-- 继承父模板base.html-->
{% extends "learning_notes/base.html" %}

{% block content %}

  <h3>Topics</h3>

  <ul>
    {% for topic in topics %}
      <!-- 将主题页面中的每个主题设置为超链接，连接到相应的主题页面 -->
      <li>
        <!-- 针对单个主题依次进行超链接 -->
        <!-- 首次调用topic.id的入口-->
        <a href="{% url 'learning_notes:topic' topic.id %}">{{ topic }}</a>
      </li>
    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>
  
  <h3><a href="{% url 'learning_notes:new_topic' %}">Add a new topic:</a></h3>
{% endblock content %}
