{% extends 'learning_notes/base.html' %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
  <p>
    <a href="{% url 'learning_notes:new_entry' topic.id %}">添加新的条目</a>
  </p>
 
  {% for entry in entries %}
  <!-- bootstrap面板,是一个带预定义样式的div -->
  <div class="panel panel-default">
    <!-- 面板标题 -->
    <div class="panel-heading">
      <h3>
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small> <!-- small标签使元素变小 -->
          <a href="{% url 'learning_notes:edit_entry' entry.id %}">编辑</a>
        </small>
      </h3>
    </div>

    <!-- 面板主体 -->
    <div class="panel-body">
      {{ entry.text|linebreaks }}
    </div>
  </div> <!-- panel -->
  {% empty %}
    There are no entries for this topic yet.
  {% endfor %}

{% endblock content %}
